.radioFormOne {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.divFormOne {
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.radioFormTwo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.divFormTwo {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.radioFormThree {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.divFormThree {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.botoesHolder{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .box-step{
    flex-wrap: wrap;
  }
  .botoesHolder{
    justify-content: center !important;
    margin-top: 10px;
  }
  .botaoVoltarQuestionnaire{
    margin-right: 5px;
  }
}