.carSettings {
  background-color: white;
  width: 35em;
  height: 30em;
  border-radius: 10px;
}

.borda {
  background: url("../components/images/borderColor.png") no-repeat;
  background-size: cover;
  width: 38em;
  height: 33em;
  border-radius: 10px;
  box-shadow: 0px 0px 31px -1px #0000009c;
}

.botao {
  background-color: #d9d9d9;
  width: 10em;
  height: 2.3em;
  border-radius: 25px;
}
.text-btn {
  font-weight: bold;
}
